name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Hatch
      run: |
        pip install hatch

    - name: Install dependencies
      run: |
        hatch env create

    - name: Lint with Ruff
      run: |
        hatch run lint

    - name: Type-check with MyPy
      run: |
        hatch run typecheck

    - name: Test with Pytest and check coverage
      run: |
        hatch run test-cov